{% extends 'base.html' %}
{% load static %}
{% block title %}
    HOME PAGE
{% endblock title %}

{% block content %}
<style>
    body {
        background-image: url('/static/images/pexels4.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>
    <nav class="navbar navbar-expand navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">Home</a>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signup' %}">Signup</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-4">
        <center><h2>REVERIER</h2></center> 
        <center><h3>Share Your DayDreams</h3></center>
    </div>

{% endblock content %}
